[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = alec-hs
	email = 6503411+alec-hs@users.noreply.github.com
[commit]
	gpgsign = true
